.loginPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: var(--background-color);
}

.backgroundContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 0;
  pointer-events: none;
  padding-right: 10%;
}

.backgroundImage {
  height: 110vh;
  width: auto;
  opacity: 0.3;
  object-fit: contain;
  transform: translateX(40%);
}

.loginContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-top: calc(var(--header-height) - 120px);
  margin-bottom: calc(var(--footer-height) - 80px);
  position: relative;
  z-index: 1;
} 